 <div class="header">
     <div class="container">
         <h1 class="logo"><a href="http://bebatut.fr/">{{ site.title }}</a></h1>

         <div class="footer-links"> 
         <ul class="noList">
            {% if site.social.email %}
            <li><a href="mailto:{{ site.social.email }}">
                <img src="assets/img/email106.svg" />
            </a></li>
            {% endif %}

            {% if site.social.linkedin %}
            <li><a href="fr.linkedin.com/in/{{ site.social.linkedid }}">
                <img src="assets/img/linkedin12.svg" />
            </svg>
            </a></li>
            {% endif %}

            {% if site.social.twitter %}
            <li><a href="https://twitter.com/{{ site.social.twitter }}">
                <img src="assets/img/twitter39.svg" />
            </a></li>
            {% endif %}

            {% if site.social.github %}
            <li><a href="https://github.com/{{ site.social.github }}">
                <img src="assets/img/github12.svg" />
            </a></li>
            {% endif %} 

            {% if site.social.researchgate %}
            <li><a href="https://www.researchgate.net/profile/{{ site.social.researchgate }}">
                 <img src="assets/img/researchgate2.svg" />
            </a></li>
            {% endif %}

         </ul>
      </div>

         <nav class="nav-collapse">
             <ul class="noList">
                 {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
                 <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                     <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                 </li> 
                 {% endfor %}
                 <li> <a href="https://fr.linkedin.com/in/berenicebatut" target="_blank">CV</a></li>
                 <li><a href="https://bebatut-blog.github.io">Blog</a></li>
             </ul>
         </nav>



     </div>

 </div><!-- end .header -->
