.talk-summary {
    padding-left: 2em;
    font-size: 90%;
}

.talks {
    padding-left: 0;
}

.publications{
    padding-left: 0;
}

.publi-summary {
    padding-left: 2em;
    font-size: 90%;
}

.lectures{
    padding-left: 0;
}

.lecture-detailed-content{
    margin-bottom: 0;
}

.lecture-content{
    margin-bottom: 0.5em;
}